<a class="btn btn-info" href="/toy/add">Add new toy</a>
<a class="btn btn-primary" href="/toy/sort/asc">Sort ASC</a>
<a class="btn btn-secondary" href="/toy/sort/desc">Sort DESC</a>
<br><br>
<form class="col-md-4" action="/toy/search" method="post">
   <input class="form-control" type="search" name="keyword" id="" required placeholder="Search by toy model">
</form>
<br><br>
<!-- Start Product Section -->
		<div class="product-section">
			<div class="container">
				<div class="row">
{{#each toys}}
					<!-- Start Column 2 -->
					<div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
						<a class="product-item" href="cart.html">
							<img src="{{image}}" class="img-fluid product-thumbnail">
							<h3 class="product-title">{{model}}</h3>
                     <h3 class="product-title">{{manufacturer.name}}</h3>
							<strong class="product-price"></strong>
                     <a class="btn btn-danger" href="/toy/edit/{{ _id }}">Edit</a>
                     <a class="btn btn-danger" href="/toy/delete/{{ _id }}" onclick="return confirm('Are you sure to delete this toy ?');">Delete</a>

						</a>
					</div> 
					<!-- End Column 2 -->
{{/each}}


				</div>
			</div>
		</div>
		<!-- End Product Section -->